@using EntityLayer.Concrete
@{
    ViewData["Title"] = "BookShow";
}
@model RecyleObjects


<!DOCTYPE html>
<html lang="en">


<body>

    <!-- ======= Header ======= -->

    <main id="main" data-aos="fade" data-aos-delay="1500">

        <!-- ======= End Page Header ======= -->
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@Model.ReName</h2>
                    </div>
                </div>
            </div>
        </div><!-- End Page Header -->
        <!-- ======= Gallery Single Section ======= -->
        <section id="gallery-single" class="gallery-single">
            <div class="container">

                <div class="position-relative h-100">
                    <div class="slides-1 portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="@Model.ImagePath" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>

                <div class="row justify-content-between gy-4 mt-4">

                    <div class="col-lg-8">
                        <div class="portfolio-description">
                            <h2>@Model.ReName</h2>
                            <p>
                                @Model.Reİnfo
                            </p>


                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    @Model.quotes
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <div>

                                    <h4>Doğa</h4>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="portfolio-info">
                            <h3>Bilgiler</h3>
                            <ul>
                                <li><strong>Stok</strong> <span> @Model.Recyletype.Name</span></li>
                                <li><strong>Stok</strong> <span> @Model.ReValue C</span></li>
                                <li><strong>Geri Dönüşüm Noktası Seçiniz</strong> <span> <select class="custom-select custom-select custom-select-lg mb-3" style="color:green" >
                                    <option >Malatya</option>
                                    <option value="1">Turgutlu</option>
                                    <option value="2">Salihli</option>
                                    <option value="3">Ahmetli</option>
                                </select></span></li>
                                
                            </ul>
                        </div>

                        <label class="btn btn-outline-success d-block"><i class=" bi bi-recycle me-2"></i><a asp-controller="Recyle" asp-action="Wallet" asp-route-id="9">Geri Dönüştür Ve Cüzdan Gör </a></label>
                    </div>

                </div>

            </div>
        </section><!-- End Gallery Single Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->





</body>

</html>

