@using EntityLayer.Concrete
@{
    ViewData["Title"] = "BookShow";
}
@model User


<!DOCTYPE html>
<html lang="en">


    <main id="main" data-aos="fade" data-aos-delay="1500">

        <!-- ======= End Page Header ======= -->
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@Model.userName</h2>
                        <p>Öğrenci </p>


                    </div>
                </div>
            </div>
        </div><!-- End Page Header -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row gy-4 justify-content-center">
                <div class="col-lg-4">
                    <img src="@Model.ProfileImage" class="img-fluid" alt="">
                </div>
                    <div class="col-lg-5 content">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Hesap SHA-256 Adresi:</strong> <span>@Model.walletAddress</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Hesapdaki Carbon Değeri:</strong> <span>@Model.ReValueWallet
                                    </span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Telefon numarası</strong> <span>@Model.phoneNumber</span></li>
                                </ul>
                                <form asp-controller="Recyle" asp-action="wallet"  method="post">
                                <input type="hidden" asp-for="UserID" />
                                <label>Alıcı Adresi</label>
                                <input type="text" asp-for="SendAddress"/>
                                <br /><label>Gönderilecek değer</label>
                                <input type="text" asp-for="SendValue"/>
                                <br />
                                <button type="submit">Ürün Güncelle</button>
                                </form>
                    </div>
                </div>

            </div>
        </section><!-- End About Section --> 

    </main>


